DATABASE_URL = "postgresql://user:password@localhost:5432/database_name"

# Google OAuth2 Credentials
GOOGLE_CLIENT_ID = "GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET = "GOOGLE_CLIENT_SECRET"
GOOGLE_REDIRECT_URI = "http://localhost:8080/auth/callback"

# JWT Secret
JWT_SECRET = "this-is-so-secret"
JWT_EXPIRATION = 24

# OpenAI 

OPENAI_API_KEY = "OPENAI_API_KEY"
OPENAI_BASE_URL = "https://openrouter.ai/api/v1"

# Cloudflare 
CF_R2_BUCKET = "CF_R2_BUCKET"
CF_ACCOUNT_ID = "CF_ACCOUNT_ID"
CF_ACCESS_KEY = "CF_ACCESS_KEY"
CF_ACCESS_SECRET = "CF_ACCESS_SECRET"
CF_R2_PUBLIC_URL = "CF_R2_PUBLIC_URL"



# RUST settings
RUST_LOG=rust_backend=debug,tower_http=debug
